body {
    font-family: 'Cousine', monospace;
    display: flex;
    flex-direction: column;
    background:#C6F0A6;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 2px solid #98C574;
    width: 370px;
    margin-top: 40px;
    padding: 10px 10px 0 10px;
    color: #2D6100;
    font-size: 1rem;
}

.buttons {
    text-align: center;
    padding: 10px;
}

button {
    background:#B7E296;
    font-family: 'Cousine', monospace;
    border: 2px solid #99c57400;
    color: #2D6100;
    cursor: pointer;
    padding: 5px 15px;
    transition: 0.3s;
}

button:hover {
    border: 2px solid #98C574;
}

p {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 10px;
    color: #2d610090;
}

a {
    color: #2d610090;
    text-underline-offset: 2px;
    text-decoration-color: #2d610022;
}